@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import 'tailwindcss';

@theme {
	--font-display: 'Raleway', sans-serif;

	--color-primary: #5f30e2;
	--color-secondary: #f8f9fa;
	--color-tertiary: #f5f1ff;
	--color-quaternary: #9475ea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#root {
  padding: 32px;
}

.repositories-list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.repository-item {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}
